<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smk Wikrama</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/style.css">
  
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
          <a class="navbar-brand" href="#">
    
    
            SMK WIKRAMA
    
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="matriculation.html">Matriculation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="facility.html">Canteen</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Library</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="row about">
          <div class="col-12 col-md-6">
            <div class="overlay">
              <img class="image" src="../assets/img/Gedung 2.jpg" alt="">
            </div>
          </div>
          <div class="col-12 col-md-6">
            <h1> <b>
              Sejarah
            </b>
            </h1>
            <p class="sejarah">
 	
              SMK Wikrama Bogor didirikan oleh Ir. Itasia Dina Sulvianti dan Dr.H.RP Agus Lelana dibawah naungan Yayasan Prawitama pada tahun 1996 di bekas gudang KUD. Kompetensi keahlian yang pertama dibuka pada saat itu adalah sekretaris dengan jumlah hanya 34 siswa. <br> <br>
              
              Seiring berjalannya waktu, jumlah siswa SMK Wikrama Bogor setiap tahunnya terus bertambah. Sehingga pada tahun 2001, secara bertahap SMK Wikrama Bogor menempati gedung yang lebih luas diatas tanah ± 5000m2, berlokasi di Jalan Raya Wangun Kelurahan Sindangsari Kota Bogor. Hingga saat ini, SMK Wikrama Bogor  memiliki 1596 siswa dengan 51 guru pendidik.
              <br> <br>
              
              Kompetensi keahlian di SMK Wikrama Bogor pun terus berkembang. SMK Wikrama Bogor membuka 7 kompetensi keahlian, diantaranya (1) Otomatisasi dan Tata Kelola Perkantoran; (2) Teknik Komputer dan Jaringan; (3) Rekayasa Perangkat Lunak; (4) Multimedia; (5) Bisnis Daring dan Pemasaran; (6) Tata Boga; dan (7) Perhotelan. <br> <br>
              
              Kesuksesan SMK Wikrama Bogor saat ini tentunya tidak lepas dari sejarah SMK Wikrama Bogor  mulai dari membentuk visi dan misi, kerja keras hingga diakui dunia internasional hingga prestasi dan pengharagaan yang didapatkan SMK Wikrama Bogor sejak awal didirikan. Berikut sejarah yang dilalui SMK Wikrama Bogor berdasarkan urutan tahun.
              <br> <br>
               
              
              1996
              <br> <br>
              Program sekretaris didirikan dibekas gudang KUD dengan siswa 34 orang dan motto Ilmu yang Amaliah, Amal yang Ilmiah, Akhlakul Karimah.
              <br> <br>
              1997
              <br> <br>
              Merancang keunikan sekolah: berakhlak mulia, berbasis bahasa Inggris dan komputer.
              <br> <br>
               1998
               <br> <br>
              Siswa baru meningkat 120 orang, terpaksa menyewa Villa Andhika dan memanfaatkan garasi sebagai kelas.
              <br> <br>
              1999
              <br> <br>
              -Nem lulusan angkatan-I: peringkat ke-1 SMK Swasta Bogor, dan ke-33 se-jabar
              <br> <br>
              -Menerapkan moving class
              <br> <br>
               2000
               <br> <br>
              -Nem jurusan angkatan II: peringkat ke-1 se-SMK Swasta Bogor dan ke-29 se-jabar, NEM Matematika = 9.
              <br> <br>
               2001
               <br> <br>
               -Nem lulusan angkatan ke-III: peringkat ke-1  se-SMK Swasta Bogor, ke-13 se-jabar
               <br> <br>
              -Secara bertahap pindah ke gedung sekolah baru
              <br> <br>
              -Mengembangkan sistem informasi sekolah berbasiskan komputer
              <br> <br>
               2002
               <br> <br>
              -Akreditasi sekolah loncat dari status “terdaftar” langsung “disamakan”
              <br> <br>
              -Untuk mewujudkan visi PK Sekretaris berstandar nasional 2005, sekolah mengembangkan ayonisasi siswa berbasiskan tempat tinggal.
              <br> <br>
              2003
              <br> <br>
              -Membuka program keahlian Teknik Informatika dan Komunikasi
              <br> <br>
              -Menerapkan kurikulum berbasis kompetensi
              <br> <br>
              -Mengembangkan kerjasama dengan dunia usaha dan Ikatan Sekretaris Indonesia
              <br> <br>
               2004
               <br> <br>
              -Menerapkan budaya sekolah yang beorientasi kecakapan hidup
              <br> <br>
              -Dipercaya sebagai sekolah model bidang kecakapan hidup
              <br> <br>
              -Bursa kerja khusus dipercaya kemenaker RI
              <br> <br>
              2005
              <br> <br>
              -Angkatan VII lulus 100%, NEM matematika 92% nilai lebih besar sama dengan 60
              <br> <br>
              -Mewujudkan SMK berstandar nasional
              <br> <br>
              -Tempat uji kompetensi LSP-APSI
              <br> <br>
              -Juara Go Green School Competition
              <br> <br>
              -Juara II LKS debate bahasa Inggris tingkat nasional
              <br> <br>
              2006
              <br> <br>
              -Angkatan VII lulus 100%, 11% mendapat NEM Matematika 10, dan 56% 9
              <br> <br>
              -Sekolah percontohan untuk (a) Komputerisasi SIM sekolah, (b) Metode pembelanjaran yang menyenangkan, (c) Kepemimpinan yang efektif, (d) Lingkungan hidup
              <br> <br>
              -Mata pelajaran produktif dinilai setara dengan STMIK, sehingga mempercepat kelulusan alumni Wikrama yang kuliah di PT tersebut.
              <br> <br>
              -Kewirausahaan sekolah berbasis potensi sumber daya sekolah
              <br> <br>
               2007
               <br> <br>
              -Sekolah Kawasan Tanpa Rokok (KTR) terbaik tingkat Kota Bogor
              <br> <br>
              -Sekolah terbaik lomba Usaha Kesehatan Sekolah (UKS) tingkat SLTA
              <br> <br>
              2008
              <br> <br>
              -Juara I lomba E-Learning Award Nasional
              <br> <br>
              -Juara provinsi sekolah berbudaya lingkungan
              <br> <br>
              -Sekolah terbaik  UKS tingkat Kota Bogor
              <br> <br>
              -Kerjasama dengan Dinas Kesehatan Kota Bogor dalam penyelenggaraan RAKERDA UKS tingkat Kota Bogor
              <br> <br>
              -Juara lomba P3K Kota Bogor
              <br> <br>
               2009
               <br> <br>
              -Penghargaan sebagai calon sekolah Adiwiyata tingkat nasional
              <br> <br>
              -Juara LKS Sekretaris, juara II tingkat nasional
              <br> <br>
              -Juara LKS Web Design, juara II tingkat nasional
              <br> <br>
              -Juara ke-I Nasional Olimpiade Sains Terapan Nasional bidang lomba Matematika
              <br> <br>
              2010
              <br> <br>
              -Penghargaan sebagai sekolah Adiwiyata tahun ke-I, sekolah peduli dan berbudaya lingkungan tingkat nasional.
              <br> <br>
              -Pengembangan jejaring kerjasama di bidang lingkungan dan kesehatan
              <br> <br>
              -Penghargaan sebagai Sekolah Berwawasan Kebangsaan Kota Bogor.
              <br> <br>
               2011
               <br> <br>
              -Mendapatkan penghargaan sebagai sekolah Adiwiyata tahun kedua sekolah peduli dan berbudaya lingkungan tingkat nasional.
              <br> <br>
              -Membuka program keahlian Multimedia
              <br> <br>
              -Membuka SMK Wikrama 1 Jepara, SMK Wikrama 1 Garut
              <br> <br>
              -Lulus 100% Ujian Nasional dengan nilai rata-rata 8,2
              <br> <br>
              2012
              <br> <br>
              -Membuka SMK Wikrama 1 kab. Semarang
              <br> <br>
              -Angkatan-XII lulus UN 100%; nilai rata-rata 8.32; 6 siswa nilai Matematika 10.
              <br> <br>
              -Penghargaan Sekolah Adiwiyata Mandiri, diserahkan oleh presiden RI, Dr, Susilo Bambang Yudhoyono
              <br> <br>
              -Penghargaan Indomesia Green Awards
              <br> <br>
              -Dr. Itasia Dina Sulvianti, M. Si juara kepala sekolah berwawasan lingkungan hidup tingkat nasional.
              <br> <br>
               2013
               <br> <br>
              -Membuka SMK Wikrama 1 Bekasi
              <br> <br>
              -Kerjasama dengan GIZ Foundation (Jerman) pengembangan sekolah lingkungan hidup
              <br> <br>
              -Menjadi SMK berprestasi tingkat nasional
              <br> <br>
              -Sebagai sekolah model penyelenggaraan pendidikan untuk pembangunan berkelanjutan (ESD)
              <br> <br>
              -Sekolah rujukan bagi guru lingkungan se-Asia Tenggara (SEAMEO QITEP)
              <br> <br>
               2014
               <br> <br>
              -Membuka SMK Wikrama 1 Banjarmasin
              <br> <br>
              -Penghargaan Indonesia Green Awards
              <br> <br>
              -Juara LKS Sekretaris Juara Harapan I Tingkat Nasional
              <br> <br>
              -Juara lomba OSTN Matematika Non Tehnik, Juara I tingkat Jawa Barat
              <br> <br>
              -Pioneer Sekolah IMS (Integrated Management System)
              <br> <br>
               2015
               <br> <br>
              -Juara I lomba Tradisional Angklung Category se-Asia Tenggara yang diselenggarakan oleh SEAMEOLEC
              <br> <br>
              -SMK Wikrama Bogor menjadi anggota ASPNet yaitu sosialisasi sekolah-sekolah se-dunia yang menjadi pilot project di bidang Hak Asasi Manusia, Demokrasi, Budaya dan Isu Lingkungan di bawah UNESCO
              <br> <br>
              -SMK Wikrama Bogor mengikuti Climate Change Forum di Paris Perancis
              <br> <br>
              -SMK Wikrama mendapatkan Sertifikat Lisensi untuk menjadi Lembaga Sertifikasi Profesi pada paket keahlian Multimedia
              <br> <br>
              -Juara III Kepala Sekolah berprestasi untuk kategori SMK tingkat provinsi Jawa Barat
              <br> <br>
              -Pemegang Cyberpreneur Competition Kategori Desain Website Statis tingkat nasional
              <br> <br>
               
              
              2016
              <br> <br>
              -Mengikuti Internasional Workshop of ESD Food Project di Jepang
              <br> <br>
              -Menerima kunjungan guru dan siswa dari Korea Selatan dalam diskusi mengenai isu lingkungan
              <br> <br>
              -Penghargaan Indonesia Green Awards
              <br> <br>
              -Juara I Hackathon Google Developer tingkat umum se-Jabotabek paket keahlian RPL
              <br> <br>
              -Juara I Kesatuan Bogor Olympic Festival Fungo Satay STIE Kesatuan tingkat nasional
              <br> <br>
              -Juara 2 Clevino Coder Camp tingkat SMA/SMK se-Jabotabek 2016
              <br> <br>
              -Juara 2 Film pendek tingkat provinsi 2016.
              <br> <br>
               
              
              2017
              <br> <br>
              -SMK Wikrama Bogor menjadi tuan rumah dalam acara peringatan Hari BUMI Internasional yang dihadiri oleh Prof. Ractmat Witoelar (Utusan Khusus Presiden untuk Pengendalian Perubahan Iklim) dan Walikota Bogor.
              <br> <br>
              -SMK Wikrama Bogor mengikuti Program Jenesys SMK 4 tahun permodelan KOSEN di Tokyo Jepang tahun 2017.
              <br> <br>
              -SMK Wikrama Bogor kembali meraih juara 1 Lomba Film Pendek FLS2N, tingkat Provinsi Jawa Barat. Lomba ini diikuti oleh siswa/siswi Multimedia, M. Diya Mustofa dan M. Saifullah, dengan judul Film Pendek “Integrasi dalam Prestasi”.
              <br> <br>
              -Juara 1 Lomba Film Pendek pada ajang Olimpiade Tingkat Nasional (2017), diwakili oleh Shantika Dwi dan Andhika Navira Dillah Putra dari jurusan Multimedia
              <br> <br>
              -Juara 2 Lomba Desain Web pada ajang Olimpiade Tingkat Nasional (2017) yang diwakili oleh Daffa Prayoga dan Rizki Wahyudi dari jurusan RPL (rekayasa Perangkat Lunak)
              <br> <br>
              -Juara 2 Lomba Persentasi pada ajang Olimpiade Tingkat Nasional (2017, yang diwakili oleh Galih bagas P dari jurusan Pemasaran
              <br> <br>
              -Juara Umum II Olimpiade Tingkat Nasional 2017
              <br> <br>
              -SMK Wikrama Bogor yang diwakili oleh tim dari jurusan Rekayasa Perangkat Lunak dan Multimedia, yaitu Aldan Rizky S dan Oki Oktora, meraih juara II di ajang Lomba Cipta Games pada Festival Habibie 2017, di Jiexpo, Kemayoran Jakarta. 
              <br> <br>
              -SMK Wikrama Bogor yang diwakili oleh Arief Dhiemas, meraih juara I Laboran Berprestasi tingkat Nasional
              <br> <br>
              -SMK Wikrama Bogor, yang diwakili oleh Anis Humanisa jurusan RPL XI meraih juara 3 O2SN Lomba Atletik Putri tingkat Jawa Barat
              <br> <br>
              -SMK Wikrama Bogor yang diwakili oleh Tim Voli Putra meraih juara 3 di kejuaraan voli tingkat Bogor di Sekolah Kesatuan Bogor.</p>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="p-5">
          <div class="container">
            <div class="row">
              <div class="col-12 col-md-4 d-flex flex-column text-white">
                <h6>About Wikrama</h6>
                <a href="" class="text-decoration-none text-white">About</a>
                <a href="" class="text-decoration-none text-white">Major</a>
                <a href="" class="text-decoration-none text-white">Facility</a>
                <a href="" class="text-decoration-none text-white">Contact</a>
              </div>
              <div class="col-12 col-md-6 d-flex flex-column text-white">
                <h6>Address</h6>
                <p class="text-white">Jl. Raya Wangun
                  Kelurahan Sindangsari
                  Bogor Timur 16720</p>
                <h6>Telephone</h6>
                <p class="text-white">0251-8242411 / 082221718035(Whatsapp)</p>
              </div>
              <div class="col-12 col-md-2 text-white">
                <h6>Social Media</h6>
                <p class="text-white">Instagram : @rplwikrama</p>
                <p class="text-white">Youtube : RPL Wikrama</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>