<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/style.css">
  <title>smk wikrama</title>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        SMK WIKRAMA
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="matriculation.html">Matriculation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="facility.html">Canteen</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div  class="row banner"> 
      <div class="col-12 col-md-6 ">
        <img src="../assets/img/matrikulasi.jpg" alt="" class="resolusi">
      </div>
      <div class="col-12 col-md-6">
        <h1 class="sejarah"> <b> Kegiatan Matrikulasi Wikrama 2021/2022 </b></h1>
        <p class="sejarah matrikulasi">
          Selamat datang di SMK Wikrama Bogor.

Sebelum masuk di pembelajaran baru tahun 2021/ 2022, ada kegiatan MATRIKULASI dulu yaaa. <br> <br>

Matrikulasi adalah kegiatan pembelajaran yang dilakukan untuk memenuhi kekurangan dalam hal pengetahuan, ketrampilan dan sikap yang berfungsi untuk mengetahui kemampuan awal/ pemetaan kemampuan awal peserta didik yang diperlukan untuk mengikuti kegiatan pembelajaran.
<br> <br>

Waktu pelaksanaan Matrikulasi di SMK Wikrama Bogor yaitu selama 4 minggu (26 Juli - 21 Agustus 2021) secara online dengan sistem sinkronus dan asinkronus. Diikuti oleh 585 peserta didik baru.
<br> <br>
        </p>
      </div>
    </div>
    </div>
    <div class="footer">
      <div class="p-5">
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-4 d-flex flex-column text-white">
                <h6>About Wikrama</h6>
                <a href="" class="text-decoration-none text-white">About</a>
                <a href="" class="text-decoration-none text-white">Matriculation</a>
                <a href="" class="text-decoration-none text-white">Canteen</a>
                <a href="" class="text-decoration-none text-white">Library</a>
              </div>
              <div class="col-12 col-md-6 d-flex flex-column text-white">
                <h6>Address</h6>
                <p class="text-white">Jl. Raya Wangun
                  Kelurahan Sindangsari
                  Bogor Timur 16720</p>
                <h6>Telephone</h6>
                <p class="text-white">0251-8242411 / 082221718035(Whatsapp)</p>
              </div>
              <div class="col-12 col-md-2 text-white">
                <h6>Social Media</h6>
                <p class="text-white">Instagram : @rplwikrama</p>
                <p class="text-white">Youtube : RPL Wikrama</p>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>


</html>